<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>general</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-card class="InfoDevice"  *ngFor="let app of DataDevice">
      <ion-card-header>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>
            <p>ID:  {{app.ID}}</p>
            <p>Device ID:  {{app.Device_ID}}</p>
            <p>Temperature:  {{app.Temperature}}</p>
            <p>Humidity:   {{app.Humidity}}</p>
            <p>Moisture:   {{app.Moisture}}</p>
            <p>Time:   {{app.Time}}</p>
            <p>Date:   {{app.Date}}</p>
            <p>Battery:  {{app.Battery}}%</p>

          </li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>