<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Temperature</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <b>Temperature</b>
    </ion-card-header>
    <ion-card-content>
      <canvas baseChart
        [datasets]="chartData"
        [labels]="chartLabels"
        [chartType]="chartType"
        [options]="chartOptions"
        [legend]="showLegend">
      </canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Settings</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label>Line chart?</ion-label>
      <ion-toggle (ionChange)="typeChanged($event)" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Show Legend?</ion-label>
      <ion-toggle [(ngModel)]="showLegend"></ion-toggle>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <b>Limit the temperature:</b>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-range [(ngModel)]="rangeCount" dualKnobs="false" min="0" max="100"
          step="1" snaps="false" color="dark" pin="true" class="Icons"
          id="Slider">
          <ion-icon slot="start" name="snow-outline" id="snow"></ion-icon>
          <ion-icon slot="end" name="flame-outline" id="flame"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-button color="dark" (click)="setTempLimit(rangeCount)">Set Limit</ion-button>
      <p *ngIf="message.length>0">{{message}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf='entries'>
    <ion-card-header>
      List when temperature got exeeded
    </ion-card-header>
    <ion-card-content>
      <h2 *ngFor='let item of entries'>
        entryNr: {{item.id}}
        Temperature value: {{item.temperature}} °C
        Date: {{item.date}}
      </h2>
      <br>
    </ion-card-content>
  </ion-card>


</ion-content>
