<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Temperature</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-header>
      <b>Temperature</b>
    </ion-card-header>
    <ion-card-content>
      <canvas baseChart
      [datasets]="chartData"
      [labels]="chartLabels"
      [chartType]="chartType">

      </canvas>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <b>Limit the temperature:</b>
    </ion-card-header>
    <ion-card-content>
      <div id="tempRange">
    <ion-icon name="snow-outline" id="snow"></ion-icon>
    <ion-icon name="flame-outline" id="flame"></ion-icon>
      </div>
      <ion-range [(ngModel)]="rangeCount" dualKnobs="false" min="0" max="100" step="1" snaps="false" color="dark" pin="true" class="Icons" id="Slider"></ion-range>
      <ion-button color="dark" (click)="setTempLimit(rangeCount)">Set Limit</ion-button>
      <br>
      <p *ngIf="message.length>0">{{message}}</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
